# BlackBoard/helm/templates/secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-redis
  labels:
    app: darwin-brain
    app.kubernetes.io/name: darwin-brain
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
stringData:
  password: "{{ .Values.redis.password }}"
