# BlackBoard/helm/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-brain
  labels:
    app: darwin-brain
    app.kubernetes.io/name: darwin-brain
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: darwin-brain
    app.kubernetes.io/instance: {{ .Release.Name }}
